# Image versions
AIRBYTE_VERSION=2.2.0
MANIFEST_SERVER_VERSION=7.23.7
TEMPORAL_VERSION=1.27.2
MINIO_VERSION=RELEASE.2023-11-20T22-40-07Z
K3S_VERSION=v1.36.3-k3s1

# Local access
AIRBYTE_PORT=8000

# PostgreSQL
DATABASE_DB=db-airbyte
DATABASE_USER=airbyte
DATABASE_PASSWORD=CHANGE_ME

# MinIO
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=CHANGE_ME

# Airbyte Auth
AIRBYTE_ADMIN_PASSWORD=CHANGE_ME
AIRBYTE_ADMIN_CLIENT_ID=CHANGE_ME
AIRBYTE_ADMIN_CLIENT_SECRET=CHANGE_ME
AIRBYTE_JWT_SIGNATURE_SECRET=CHANGE_ME
